.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    color:rgb(228, 206, 246);
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
@media screen and (max-width: 767px) {
    .header-container {
        flex-wrap: wrap;
        flex-direction: column;
        padding-top: 15px;   
        /* color: rgb(90, 86, 224); */
    }
.header-text{
    font-weight: 700;
    font-size:x-large;
        color: rgba(208, 173, 236, 0.639);
    /* margin-bottom: 15px; */
}

}

@media screen and (max-width: 1199px) {
    .header-container {
        text-align: center;
    }
}

@media screen and (min-width: 1200px) {
    .header-container {
        max-width: 1200px;
    }
}

