.button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(228, 206, 246);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 10%;
}
@media screen and (max-width: 767px) {
.button{
    padding: 5px 10px;
}
}


.button:hover, button:focus {
    cursor: pointer;
    background-color:rgb(201, 155, 238);
}

